name: Odin SMR L2 processing CI

on: [push]

jobs:
  api:
    runs-on: ubuntu-24-04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Black check
        run: uv run black --check .

      - name: Mypy check
        run: uv run mypy .

      - name: Run tests
        run: uv run pytest
